<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>EasyIM介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>项目介绍</h5>

                    </div>
                    <div class="ibox-content">
                        <p>之前由于研究过nchan消息推送和FastDFS分布式文件系统，并且在实际项目中应用,然后就想这些技术做一个消息聊天的应用,此项目借助了layim及RuoYi后台管理相关开源项目,实现在线聊天系统,主要使用nachan作为消息服务,FastDFS作为消息的文件存储服务,并且支持文件的在线预览。</p>
                        <p><i class="fa fa-send-o"></i> github地址：<a href="https://github.com/liunian-robert" target="_blank">https://github.com/liunian-robert</a></p>
                        <p><i class="fa fa-send-o"></i> 博客地址：<a href="http://srobert.pythonanywhere.com/" target="_blank">http://srobert.pythonanywhere.com/</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>核心技术</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> springboot</p>
                        <p><i class="fa fa-send-o"></i> mybatis</p>
                        <p><i class="fa fa-send-o"></i> shiro</p>
                        <p><i class="fa fa-send-o"></i> redis</p>
                        <p><i class="fa fa-send-o"></i> nchan</p>
                        <p><i class="fa fa-send-o"></i> FastDFS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>技术博客</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i><a href="http://srobert.pythonanywhere.com/article/7" target="_blank"> FastDFS安装和配置</a></p>
                        <p><i class="fa fa-send-o"></i><a href="http://srobert.pythonanywhere.com/article/30" target="_blank"> FastDFS实现文件去重(FastDHT)</a></p>
                        <p><i class="fa fa-send-o"></i><a href="http://srobert.pythonanywhere.com/article/6" target="_blank"> NCHAN消息服务的配置及使用</a></p>
                        <p><i class="fa fa-send-o"></i><a href="http://srobert.pythonanywhere.com/article/31" target="_blank"> 文件在线预览服务</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
